<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Educational project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A4F6B6A2D4AB30B002F8FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4F6B802D4AB30D002F8FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4F6B8A2D4AB30D002F8FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
